<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="bg-green-900">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex justify-center items-center h-16">
            <h1 class="text-white text-xl font-semibold">Avocado Predicción </h1>
          </div>
        </div>
      </nav>
      

    {% block content %}{% endblock  %}

</body>

</html>